@import 'tailwindcss';


// @font-face {
//   font-family: 'Metropolis';
//   src: url('/fonts/Metropolis/TrueType/Metropolis-ExtraLight.ttf') format('truetype');
//   font-weight: 200;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'Metropolis';
//   src: url('/fonts/Metropolis/TrueType/Metropolis-Light.ttf') format('truetype');
//   font-weight: 300;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'Metropolis';
//   src: url('/fonts/Metropolis/TrueType/Metropolis-Regular.ttf') format('truetype');
//   font-weight: 400;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'Metropolis';
//   src: url('/fonts/Metropolis/TrueType/Metropolis-Medium.ttf') format('truetype');
//   font-weight: 500;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'Metropolis';
//   src: url('/fonts/Metropolis/TrueType/Metropolis-SemiBold.ttf') format('truetype');
//   font-weight: 600;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'Metropolis';
//   src: url('/fonts/Metropolis/TrueType/Metropolis-Bold.ttf') format('truetype');
//   font-weight: 700;
//   font-style: normal;
// }

// :root {
//   // --font-metropolis: 'Metropolis', sans-serif;
//   --background-primary: #0C1511;
//   --background-secondary: #7A2A3C;
//   --background-secondary-light: #AA3954;
//   --background-tertiary: #AC5064;
//   --background-light: #D594A6;

//   --text-light: #FFF;
//   --text-dark: #0C1511;
// }

:root {
  --color-1: #000;
  --color-2: pink;
  --color-3: #ADB2D4; 
  --color-4: #213448;
  --blur: blur(120px);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, p {
  font-style: normal;
  line-height: 100%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  font-size: 1.125rem;
}
